 @import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smooting: grayscale;
  font-family: 'Inter', sans-serif;
}

:root {
  font-size: 62.5%;
  --color_1: #7A45FF;
  --color_2: #FE6687;
  --color_3: #FFCF67;
  --var_color_1: #5C2CD5

}

body {
  background-color: var(--color_1);
}

main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

header {
  height: 10vh;
  display: flex;
  justify-content: space-between;

  padding: 16px;
}

#theme_button {
  background-color: transparent;
  border: none;

  transition: 1s;
}

#theme_button:hover {
  transform: rotateZ(180deg);
}

#text_section {
  width: 100%;
  height: 90vh;
  padding: 16px;

  display: grid;
  grid-template-rows: 60% 5% 25%;
  gap: 15px;
}

#text_input {
  background-color: #FFF;
  height: 100%;
  width: 100%;

  font-size: 2rem;

  padding: 20px;

  outline: none;
  resize: none;

  border: 2px solid #000;
  border-radius: 15px;

  box-shadow: 0 10px #000;

}

#desc {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 1.2rem;
  font-weight: 700;
}

.buttons {
  display: grid;
  grid-template-rows: 50% 50%;
  gap: 20px;
}

#display_section {
  background-color: var(--var_color_1);
  width: 100%;
  padding: 24px;
  text-align: center;

  transition: 0.2s;
}

#default_content > p > strong {
  font-weight: 700;
  font-size: 2.4rem;
}

#default_content > p {
  font-size: 1.6rem;
  color: #FFF;
}

.results {
  font-size: 2.4rem;
  color: #FFF;
  text-align: left;
  margin-bottom: 32px;
}

.button {
  cursor: pointer;
  background-color: transparent;
  color: #FFF;
  width: 100%;
  font-size: 1.6rem;

  border: 2px solid #000;
  border-radius: 15px;

  padding: 24px;

  box-shadow: 0 10px #000;
  transition: 0.2s;
}

.button:hover {
  box-shadow: 0 0 #000;
}

.primary_button {
  background-color: var(--color_2);
  color: #FFF;
}

.secondary_button {
  background-color: var(--color_3);
  color: #000;
}

.hidden {
  display: none;
}

@media only screen and (min-width: 600px) {
  #text_section {
    width: 100%;
    height: 90vh;
    padding: 16px;
  
    display: grid;
    grid-template-rows: 75% 5% 10%;
    gap: 15px;
  }

  .buttons {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1000px) {
  main {
    flex-direction: row;
    align-items: stretch;
  }

  #display_section {
    margin: 16px;

    border-radius: 15px;
  }

  #results_container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .results {
    margin-bottom: auto;
  }

  #copy_button {
    width: 70%;
    margin: 0 auto;
  }
}
